@font-face {
  font-family: "tway_sky";
  src: url("/fonts/tway_sky.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus-visible {
  outline: 2px solid #161616;
  outline-offset: 2px;
  border-radius: 3px;
}

body {
  font-family: "IBM Plex Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  word-break: keep-all;
  background: #fafafa;
  color: #161616;
}

.wrap {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// TipTap 이미지 리사이즈 핸들
[data-resize-container] {
  display: block !important;
  position: relative;
  width: fit-content;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  [data-resize-wrapper] {
    position: relative;
    display: block;
  }

  [data-resize-handle] {
    position: absolute;
    width: 14px;
    height: 14px;
    background: #5c6fff;
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.15s;
    z-index: 10;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);

    &[data-resize-handle="top-left"] {
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      cursor: nw-resize;
    }
    &[data-resize-handle="top-right"] {
      top: 0;
      right: 0;
      transform: translate(50%, -50%);
      cursor: ne-resize;
    }
    &[data-resize-handle="bottom-left"] {
      bottom: 0;
      left: 0;
      transform: translate(-50%, 50%);
      cursor: sw-resize;
    }
    &[data-resize-handle="bottom-right"] {
      bottom: 0;
      right: 0;
      transform: translate(50%, 50%);
      cursor: se-resize;
    }
  }

  &:hover [data-resize-handle],
  &[data-resize-state="true"] [data-resize-handle],
  &.ProseMirror-selectednode [data-resize-handle] {
    opacity: 1;
  }

  &.ProseMirror-selectednode img {
    outline: 2px solid #5c6fff;
    outline-offset: 2px;
  }
}

// TipTap 에디터 내 링크 스타일
.tiptap a {
  color: #4a6cf7;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;

  &:hover {
    color: #2d4fd4;
  }
}

// TipTap YouTube 임베드
div[data-youtube-video] {
  display: block;
  margin: 12px 0;
  width: 100%;

  iframe {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }
}
