@font-face {
  font-family: "tway_sky";
  src: url("/fonts/tway_sky.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans KR", sans-serif;
  -webkit-font-smoothing: antialiased;
  word-break: keep-all;
  background: #fafafa;
  color: #161616;
}

.wrap {
  width: 85%;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

// TipTap 이미지 리사이즈 핸들
[data-resize-container] {
  display: inline-flex !important;
  position: relative;

  [data-resize-wrapper] {
    position: relative;
    display: block;
  }

  [data-resize-handle] {
    width: 14px;
    height: 14px;
    background: #5c6fff;
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.15s;
    z-index: 10;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);

    &[data-resize-handle="top-left"] {
      transform: translate(-50%, -50%);
      cursor: nw-resize;
    }
    &[data-resize-handle="top-right"] {
      transform: translate(50%, -50%);
      cursor: ne-resize;
    }
    &[data-resize-handle="bottom-left"] {
      transform: translate(-50%, 50%);
      cursor: sw-resize;
    }
    &[data-resize-handle="bottom-right"] {
      transform: translate(50%, 50%);
      cursor: se-resize;
    }
  }

  &:hover [data-resize-handle],
  &[data-resize-state="true"] [data-resize-handle] {
    opacity: 1;
  }
}
