@font-face {
  font-family: "tway_sky";
  src: url("/fonts/tway_sky.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nanum Gothic", sans-serif;
}

.wrap {
  width: 85%;
  margin: 0 auto;
}
