.hero {
  background: #fafafa;
  height: calc(100vh - 84px - var(--banner-h, 0px));
  height: calc(100svh - 84px - var(--banner-h, 0px));
  box-sizing: border-box;

  &__swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__slide {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__text {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.8s ease;

    .swiper-slide-active & {
      opacity: 1;
    }
    font-family: "tway_sky", sans-serif;
    font-size: 4rem;
    font-weight: normal;
    color: #fafafa;
    white-space: nowrap;
    letter-spacing: 0;
    text-shadow: 0 2px 16px rgba(0, 0, 0, 0.18);

    @media (max-width: 1200px) {
      font-size: 2.8rem;
      text-align: center;
      max-width: 80vw;
      line-height: 1.4;
    }

    @media (max-width: 640px) {
      font-size: 1.6rem;
      text-align: center;
      line-height: 1.5;
    }
  }

  &__text-br {
    display: none;

    @media (max-width: 1200px) {
      display: block;
    }
  }

  &__logo-wrap {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.8s ease;

    .swiper-slide-active & {
      opacity: 1;
    }
  }

  &__logo {
    height: 107px;
    display: block;

    @media (max-width: 1200px) {
      height: 81px;
    }

    @media (max-width: 640px) {
      height: 54px;
    }
  }

  .swiper-pagination {
    bottom: 20px;

    .swiper-pagination-bullet {
      width: 7px;
      height: 7px;
      background: rgba(255, 255, 255, 0.45);
      opacity: 1;
      transition:
        background 0.2s,
        width 0.2s;
      border-radius: 4px;
    }

    .swiper-pagination-bullet-active {
      background: #fff;
      width: 20px;
    }
  }

  @media (max-width: 1200px) {
    height: calc(100vh - var(--banner-h, 0px));
    height: calc(100svh - var(--banner-h, 0px));

    &__swiper {
      height: 100%;
    }
  }
}
