.hero {
  width: 100%;
  height: 100vh;
  margin-top: -147px;

  &__swiper {
    width: 100%;
    height: 100%;
  }

  &__slide {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
